*{
    font-family: "Roboto","Arial",sans-serif;
}
a{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 14;
}
::-webkit-scrollbar-thumb {
    background: #606060;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
}
body{
    height: 100%;
    margin: 0 8;
    overflow-x: hidden;
}
.bodyer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 224px 1fr;
}

.video-section{
    position: static;
    z-index: 10;
    top: 130;
    left: 230;
    width: calc(100% - 270px);
    padding: 20;
    margin-left: 230;
    margin-top: 122;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    overflow: hidden;
}

#right-angle{
    padding: 0 0;
    font-size: 16;
    text-align: center;
}
.video{
    overflow: auto;
}
.video-section a{
    text-decoration: none;
    margin: 10;
}
.video .lore{
    width: 100%;
    display: grid;
    height: 100px;
    grid-template-columns: 48px 1fr;
}
.video .thumbnail{
    width: 100%;
    height: auto;
}
.video .lore .channel{
    height: 36;
    width: 36;
    border-radius: 50%;
    margin: 12 12 0 0;
}

.video .lore .video-lore-text{
    width: 100%;
    display: grid;
    grid-template-rows: auto 54px;
    color: #606060;
    overflow: hidden;
    word-break: break-all;
}
.video .lore .video-lore-text .title{
    vertical-align: middle;
    max-height: 18;
    text-align: center;
    
    text-align: left;
    margin: auto 0;
    max-height: 36px;
    overflow: hidden;
    margin-right: 24;
    font-size: 16px;
    color: black;
    width: calc(100% - 24px);

    /* 2줄 넘으면 자르기 */
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.25;
    height: 3.6em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-field{
    display: grid;
    grid-template-rows: 56px 1fr;
}
.category{
    position: fixed;
    background-color: white;
    top: 66;
    left: 238;
    width: calc(100% - 246px);
    height: 56;
    text-align: center;
    overflow: hidden;
    line-height: 50px;
}
.category-button{
    text-decoration: none;
    color: black;
    height: 20;
    margin: 0 6;
    padding: 4 12;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 16px;
    vertical-align: middle;
}
.category-button-main{
    text-decoration: none;
    color: white;
    height: 20;
    margin: 0 6;
    padding: 4 12;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 16px;
    background-color: black;
    vertical-align: middle;
}
@media (max-width:1320px) {
    .video-section{
        margin-left: 72;
    }

    .category{
        left: 82;
        width: calc(100% - 90px);
    }

    .video-section{
        margin-top: 122;
        width: calc(100% - 112px);
        grid-template-rows: repeat(2, auto);
    }
}
@media (max-width:1150px) {
    .video-section{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
}
@media (max-width:900px) {
    .video-section{
        margin-left: 0;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        width: calc(100% - 40px);
    }
    .category{
        left: 8;
        width: calc(100% - 16px);
    }
    .video .lore .video-lore-text .title{
        font-size: 14;
    }
    .video .lore .video-lore-text .video-info{
        align-items: center;
        font-size: 12;
    }
}
@media (max-width:510px) {
    .video-section{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        padding: 20 0;
        width: 100%;
    }
    .category{
        left: 8;
        width: calc(100% - 16px);
    }
    .video .lore .video-lore-text .title{
        font-size: 14;
    }
    .video .lore .video-lore-text .video-info{
        align-items: center;
        font-size: 12;
    }
}