a{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 14;
}
::-webkit-scrollbar-thumb {
    background: #606060;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
}
body{
    height: 100%;
    margin: 0 8;
    overflow-x: hidden;
}
.youtube-icon{
    padding: 12px;
    width: 90;
}
.youtube-icon-img{
    width: 90;
    height: 20;
}
.menu{
    padding: 12px;
    width: 24px;
    height: 24px;
}
.header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 8;
    width: calc(100% - 16px);
    height: 56px;
    padding: 10 10 0 10;
}
.container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    height: 56px;
    align-items: center;
    text-align: center;
}
@media (max-width: 630px) {
    .container{
        grid-template-columns: 200px calc(100% - 400px) 200px;
    }
    .mid{
        visibility:hidden;
    }
}
.header a{
    text-decoration: none;
    color: black;
}
.serech{
    width: calc(100% - 300px);
    border: 1px solid #777;
    border-radius: 3px 0px 0px 3px;
    font-size: 16;
    padding: 0 6 0 10;
    height: 40px;
    max-width: 550;
    font-family: "Roboto";
}
.serech:focus{
    border: 2px solid #1c62b9;
    outline: none;
}
.magnifying{
    cursor: pointer;
    padding: 1 6;
    width: 50;
    height: 40;
    align-items: center;
    border: 1px solid #777;
    border-radius: 0px 3px 3px 0px;
    border-left: none;
    background-color: white;
}
.microphone{
    margin: 0 18;
}
.profile{
    width: 32;
    border-radius: 50%;
}
.left{
    width: 200px;
    min-width: 180px;
}
.mid{
    display: flex;
    justify-content:center;
    width: 100%;
    min-width: 200px;   
    height: 56;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    
}
.right{
    right: 50%;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    align-items: center;
}

.youtube-app-menu{
    display: grid;
    grid-template-rows: repeat(4, 55px);
    position: fixed;
    background: white;
    top: 65;
    right: 110;
    width: 210;
    height: 220;
    border: 1px solid #dddddd;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100% - 65px);
}
.youtube-app-menu a{
    cursor: pointer;
    display: grid;
    grid-template-columns: 40px 1fr;
    height: 38;
    padding: 8 16;
}
.youtube-app-menu a img{
    width: 24;
    height: 24;
    margin: auto 0;
}
.youtube-app-menu a span{
    margin: auto 0;
    font-size: 14;
    width: 122;
}

.bodyer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 224px 1fr;
}
.guide{
    width: 230;
    height: calc(100% - 76px);
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    top: 66;
    left: 8;
}
.renderer{
    font-size: 14px;
    display: grid;
    grid-template-rows: repeat(11, 40px);
    align-items: center;
    padding: 12px 0px 12px 0px;
}
.renderer a{
    text-decoration: none;
    color: black;
    padding-left: 24px;
    height: 40;
    vertical-align: middle;
}
.renderer .hide-guide{
    display: grid;
    grid-template-rows: repeat(1, 40px);
    align-items: center;
}
.renderer .hide-guide a:nth-child(1){
    display: none;
}
.renderer .hide-guide a:nth-child(2){
    display: none;
}
.renderer .hide-guide a:nth-child(3){
    display: none;
}
.renderer .hide-guide a:nth-child(4){
    display: none;
}
.renderer a i{
    font-size: 20;
    margin-right: 20;
    padding-top: 10px;
}
.renderer .guide-main{
    background-color: rgba(0, 0, 0, .15);
}
.subscribe{
    display: grid;
    grid-template-rows: repeat(9, 40px);
    align-items:center;
    padding: 12 24;
}
.subscribe a{
    height: 40;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 50%;
}
.subscribe a img{
    border-radius: 50%;
    height: 24;
    margin-right: 20;
    vertical-align: middle;
}
.youtube-more{
    font-size: 14px;
    display: grid;
    grid-template-rows: 35px repeat(6, 40px)
                        20px repeat(4, 40px);
    align-items: center;
    padding: 12 0;
}
.youtube-more span{
    color: #606060;
    font-size: 14;
    padding-left: 20;
}
.youtube-more a{
    height: 40;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    padding-left: 24;
}
.youtube-more a i{
    font-size: 20;
    margin-right: 20;
    padding-top: 12px;
}
.video-section{
    position: static;
    z-index: 10;
    top: 130;
    left: 230;
    width: calc(100% - 270px);
    padding: 20;
    margin-left: 230;
    margin-top: 122;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    overflow: hidden;
}

.upload-menu{
    display: grid;
    grid-template-rows: repeat(2, 40px);
    position: fixed;
    top: 65;
    right: 145;
    width: 250;
    height: 80;
    padding: 8 0;
    background: white;
    border: 1px solid #dddddd;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100% - 79px);
}
.upload-menu a{
    display: grid;
    height: 40;
    grid-template-columns: 40px auto;
    padding: 0 16;
    align-items: center;
    text-decoration: none;
}
.upload-menu a i{
    width: 40;
    height: 32;
    font-size: 24;
    padding-top: 8;
}

.notification-menu{
    display: grid;
    grid-template-rows: 48px 1fr;
    position: fixed;
    top: 65;
    right: 60;
    background-color: white;
    width: 478;
    height: 640;
    max-height: calc(100% - 65px);
    border: 1px solid #dddddd;
}
.notification-video-section{
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 50px);
}
.notification-menu-text{
    display: grid;
    grid-template-columns: 1fr 56px;
    height: 48;
    border-bottom: 2px solid #e0e0e0;
}
.notification-menu-text span{
    margin: auto 16;
}
.notification-menu-text a{
    width: 40;
    height: 40;
    margin: auto auto;
}
.notification-menu-text a i{
    font-size: 24;
    margin: 8 8;
}

.notification-vide{
    cursor: pointer;
    display: grid;
    grid-template-columns: 64px 232px 1fr;
    padding: 16 40 16 16;
    min-height: 48;
}
.notification-channel img{
    width: 48;
    height: 48;
    border-radius: 50%;
}
.notification-vide-info{
    display: grid;
    grid-template-rows: 1fr 18px;
}
.notification-vide-info-time{
    font-size: 12;
    color: #606060;
}

.notification-vide-thumbnail img{
    width: 86;
    margin: 0 13;
}


.account-menu{
    position: fixed;
    top: 65;
    right: 20;
    width: 300;
    height: 694;
    background-color: white;
    border: 1px solid #dddddd;
    font-size: 14;
    max-height: calc(100% - 65px);
}
.account-menu-profile{
    display: grid;
    grid-template-columns: 56px 1fr;
    width: 268;
    height: 50;
    padding: 16;
    background-color: white;
    border-bottom: 1px solid #dddddd;
}
.account-menu-setting{
    background-color: white;
    height: 612;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 82px);
}
.account-menu-text{
    display: grid;
    width: 144;
    grid-template-rows: 22px 28px;
}
.account-name{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16;
}
.account-control{
    text-decoration: none;
    color: #065fd4;
    width: 144;
    height: 22;
    margin-top: 6;
}

.account-menu-channel{
    display: grid;
    grid-template-rows: repeat(5, 40px);
    padding: 8 16;
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid #e5e5e5;
}
.account-menu-channel i{
    text-align: center;
    width: 24;
    font-size: 24;
    padding-right: 16;
}
.account-menu-channel a{
    display: grid;
    grid-template-columns: 40px 196px 32px;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 40;
}

.account-menu-other{
    display: grid;
    grid-template-rows: repeat(8, 40px);
    padding: 8 16;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
}
.account-menu-other i{
    text-align: center;
    width: 24;
    font-size: 24;
    padding: 8 16 0 0;
}
.account-menu-other a{
    display: grid;
    grid-template-columns: 40px 196px 32px;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 40;
}

.account-menu-limited-mod{
    height: 40;
    padding: 8 16;
}
.account-menu-limited-mod a{
    display: grid;
    grid-template-columns: 236px 32px;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 40;
}


#right-angle{
    padding: 0 0;
    font-size: 16;
    text-align: center;
}
.video{
    overflow: auto;
}
.video-section a{
    text-decoration: none;
    margin: 10;
}
.video .lore{
    width: 100%;
    display: grid;
    height: 100px;
    grid-template-columns: 48px 1fr;
}
.video .thumbnail{
    width: 100%;
    height: auto;
}
.video .lore .channel{
    height: 36;
    width: 36;
    border-radius: 50%;
    margin: 12 12 0 0;
}

.video .lore .video-lore-text{
    width: 100%;
    display: grid;
    grid-template-rows: auto 54px;
    color: #606060;
    overflow: hidden;
    word-break: break-all;
}
.video .lore .video-lore-text .title{
    vertical-align: middle;
    max-height: 18;
    text-align: center;
    
    text-align: left;
    margin: auto 0;
    max-height: 36px;
    overflow: hidden;
    margin-right: 24;
    font-size: 16px;
    font-family: "Roboto","Arial",sans-serif;
    color: black;
    width: calc(100% - 24px);

    /* 2줄 넘으면 자르기 */
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.25;
    height: 3.6em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video .lore .video-lore-text .zxcv{
    align-items: center;
    font-size: 14;
}
.video-field{
    display: grid;
    grid-template-rows: 56px 1fr;
}
.category{
    position: fixed;
    background-color: white;
    top: 66;
    left: 238;
    width: calc(100% - 246px);
    height: 56;
    text-align: center;
    overflow: hidden;
    line-height: 50px;
}
.category-button{
    text-decoration: none;
    color: black;
    height: 20;
    margin: 0 6;
    padding: 4 12;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 16px;
    vertical-align: middle;
}
.category-button-main{
    text-decoration: none;
    color: white;
    height: 20;
    margin: 0 6;
    padding: 4 12;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 16px;
    background-color: black;
    vertical-align: middle;
}
@media (max-width:1320px) {
    .guide{
        width: 72;
        overflow: hidden;
        vertical-align: middle;
    }
    .renderer{
        width: 72;
        display: grid;
        grid-template-rows: repeat(4, 74px) 0px 74px;
        vertical-align: middle;
    }

    .renderer > a:nth-child(1){
        display: grid;
        width: 72;
        height: 44;
        padding: 0;
        margin: 0 0 20 0;
        grid-template-rows: 30px 14px;
        text-align: center;
        background-color: white;
        font-size: 10px;
    }
    .renderer > a:nth-child(1) i{
        vertical-align: top;
        padding: 0;
        margin: 0;
    }

    .renderer > a:nth-child(2){
        display: grid;
        width: 72;
        height: 44;
        padding: 0;
        margin: 0 0 20 0;
        grid-template-rows: 30px 14px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
    }
    .renderer > a:nth-child(2) i{
        padding: 0;
        margin: 7 0 0 0;
    }
    
    .renderer > a:nth-child(3){
        display: grid;
        width: 72;
        height: 44;
        padding: 0;
        margin: 0 0 20 0;
        grid-template-rows: 30px 14px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
    }
    .renderer > a:nth-child(3) i{
        padding: 0;
        margin: 7 0 0 0;
    }
    
    .renderer > a:nth-child(4){
        display: grid;
        width: 72;
        height: 44;
        padding: 0;
        margin: 0 0 20 0;
        grid-template-rows: 30px 14px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
    }
    .renderer > a:nth-child(4) i{
        padding: 0;
        margin: 7 0 0 0;
    }
    
    .renderer > a:nth-child(6){
        display: grid;
        width: 72;
        height: 44;
        padding: 0;
        margin: 0 0 20 0;
        grid-template-rows: 30px 14px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
    }
    .renderer > a:nth-child(6) i{
        padding: 0;
        margin: 7 0 0 0;
    }
    .renderer .guide-main{
        display:flex;
        align-items:center;
        height: 40px;
        color: black;
    }

    .shorts-guide-hide{
        display: none;
        visibility: hidden;
    }   

    .hide-guide a{
        display: none;
    }

    .subscribe{
        display: none;
    }

    .video-section{
        margin-left: 72;
        margin-top: 122;
        width: calc(100% - 112px);
        grid-template-rows: repeat(2, auto);
    }

    .youtube-more{
        display: none;
    }


    .category{
        left: 82;
        width: calc(100% - 90px);
    }
}
@media (max-width:1150px) {
    .video-section{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
}
@media (max-width:900px) {
    .video-section{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }
    .guide{
        display: none;
    }
    .video-section{
        margin-left: 0;
        width: calc(100% - 40px);
    }
    .category{
        left: 8;
        width: calc(100% - 16px);
    }
    .video .lore .video-lore-text .title{
        font-size: 14;
    }
    .video .lore .video-lore-text .video-info{
        align-items: center;
        font-size: 12;
    }
}
@media (max-width:510px) {
    .guide{
        display: none;
    }
    .video-section{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        padding: 20 0;
        width: 100%;
    }
    .category{
        left: 8;
        width: calc(100% - 16px);
    }
    .video .lore .video-lore-text .title{
        font-size: 14;
    }
    .video .lore .video-lore-text .video-info{
        align-items: center;
        font-size: 12;
    }
}