.body{
    display: flex;
    background-color: #050505;
    justify-content: center;
    align-items: center;
}
.background{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(18, minmax(60px, auto));
    grid-template-rows: repeat(7, minmax(60px, auto)) 8px repeat(2, minmax(60px, auto));
    gap: 4px;
    margin: auto;
    max-width: 95%;
}

.element-none1{
    grid-column: span 16;
    /* 혼자서 그리드 16칸을 차지하겠다는 뜻 */
}
.element-none2{
    grid-column: span 10;
}
.element-none3{
    grid-column: span 2;
}
.gap{
    grid-column: span 18;
}
.element-box{
    cursor: pointer;
    width: calc(5vw - 4px);
    min-width: 58;
    height: calc(5vw - 4px);
    min-height: 58;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 8px;
    margin: auto auto;
}
.element-box:hover{
    border: 4px solid rgb(0, 150, 255);
    margin: -2;
}

.element-alkali1{
    background-color: #FF9D9D;
}
.element-alkali2{
    background-color: #FFDEAD;
}
.element-transition1{
    background-color: #FFC0C0;
}
.element-transition2{
    background-color: #CCCCCC;
}
.element-metalloid{
    background-color: #CCCC99;
}
.element-noble{
    background-color: #C0FFFF;
}
.element-nonmetal{
    background-color: #A0FFA0;
}
.element-lanthanum{
    background-color: #FFBFFF;
}
.element-actinium{
    background-color: #FF99CC;
}

.number{
    height: 15%;
    
}
.sign{
    height: 50%;
    font-size: 24;
    font-weight: bold;
    text-align: center;
}
.element{
    word-break:keep-all;
    height: 35%;
    line-height: 150%;
    text-align: center;
    font-size: .9vw;
    font-weight: 600;
    overflow: visible;
}
.long{
    letter-spacing: -0.1em;
    text-align: left;
}
.simple{
    cursor: pointer;
    width: calc(5vw - 4px);
    min-width: 58;
    height: calc(5vw - 4px);
    min-height: 58;
    background-color: rgb(50, 180, 255);
    border: 2px solid rgb(80, 80, 80);
    border-radius: 8px;
    text-align: center;
    font-size: .9vw;
    font-weight: 600;
}

.lore{
    z-index: 10;
    position: fixed;

    width: 85%;
    min-width: 700;
    height: 80%;
    min-height: 500;

    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    border: 3px solid black;
    border-radius: 12px;

    transition: 0.5s;

    display: grid;
    grid-template-columns: minmax(20%, 250px) auto;

    padding: 8px;
    overflow: visible;
}
.lore-box{
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
}

.lore-element{
    width: 100%;
    background-color: red;
    border-radius: 12px;

    display: grid;
    grid-template-rows: 0.4fr 1.6fr 1.1fr 0.9fr;
    
    text-align: center;
}

.lore-number{
    font-size: 2vw;
}
.lore-sign{
    font-size: 4vw;
    font-weight: bolder;
}
.lore-name{
    font-size: 3vw;
    
}
.lore-Ename{
    font-size: 2.5vw;
}

.energy{
    font-size: 20;
    border-bottom: 1px solid black;
    height: 28;
    padding: 8 0 8 4;
    font-weight: bold;

    display: flex;
    justify-content: center;
    gap: 16px;
}
.value{
    font-weight: normal;
}

.explanation{
    margin: 24;
    font-size: 20;
}
.img{
    width: 100%;
}
.exitButton{
    cursor: pointer;
    width: 42;
    height: 42;
    border-radius: 40%;
    position:absolute;
    right: -21;
    top: -21;
    font-weight: bold;
    font-size: 24;
}

.backboard{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.255);
}


@media (max-width:1200px) {
    .lore-number{
        font-size: 24;
    }
    .lore-sign{
        font-size: 48;
    }
    .lore-name{
        font-size: 36;
    }
    .lore-Ename{
        font-size: 36;
    }
}